name: Check Documentation Links

on:
  push:
    paths:
      - '**.md'
      - '.markdown-link-check.json'
  pull_request:
    paths:
      - '**.md'
      - '.markdown-link-check.json'

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Markdown Links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.markdown-link-check.json'
          use-quiet-mode: 'yes'
          folder-path: 'docs/, ./'
          file-extension: '.md'
